apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-java-quarkus-ediwnnrv
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-java-quarkus-ediwnnrv:4c003b068ca6590798dc1062b8f2dc811cadd688@sha256:f40e6195e5f5bf351b2fef2cf416ea31e024a9260e4a7e8348dafb4cf969412c
          name: container-image
